<!--http://blog.csdn.net/qq_24861509/article/details/50560170-->
<!--查看block、extends、include三者的用法和区别>
<!--实现对layout的继承-->
{% extends "layout.html" %}

<!--重写block模块-->
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin/category">管理首页</a></li>
    <li><span>分类列表</span></li>
</ol>

<h3>分类管理</h3>
<p>{{message}}</p>
<table class="table table-hover table-striped">
    <tr>
        <th>分类名称</th>
        <th>操作</th>
    </tr>
    {% for category in catefories %}
    <tr>
        <td>{{category.categoryname}}</td>
        <td>
            <a href="/admin/category/edit?name={{category.categoryname}}" >修改</a>
            |
            <a href="/admin/category/delete?name={{category.categoryname}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}