<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Craze's Profile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="/public/aboutUs/css/header.css"/>
    <link rel="stylesheet" href="/public/aboutUs/css/container.css"/>
    <link rel="stylesheet" href="/public/aboutUs/css/aboutUs.css"/>
    <link rel="stylesheet" href="/public/aboutUs/css/resume.css"/>
</head>
<body><div class="nav">
    <a class="brandContainer" href="/">
        <img class="logo"  src="/public/homePage/image/airplane.svg" >
        <img class="logo-divider w-hidden-tiny" src="/public/homePage/image/divider.svg">
        <h1 class="logoname w-hidden-tiny">
            About Us
            <br>
            <span class="tagline">The Resumes of Ours'</span>
        </h1>
    </a>
    <nav class=" navMenu" >
        <a class="navlinks profile" href="/" style="max-width: 940px;">Profile</a>
        <a class="navlinks aboutUs active" href="/aboutus" style="max-width: 940px;">About Us</a>
        <a class="navlinks works " href="/work" style="max-width: 940px;">Works</a>
        <a class="navlinks Craze" href="#" style="max-width: 940px;">Craze's</a>
        <a class="navlinks Jonty" href="https://jontylu.github.io/jonty_blog/" style="max-width: 940px;">Jonty's</a>
        <a class="navlinks wsp" href="#" style="max-width: 940px;">Jarden's </a>
    </nav>
    <div class="smallMenu">
        <img src="/public/homePage/image/menu-icon.svg" alt="" class="smallMenuIcon"/>
    </div>
    <div class="navOpenMenu"  style="height: 30rem;background: #000000; display: block; width: 200px;">
        <nav class="navOpen" >
            <a class="navOpenlinks profile" href="/" style="max-width: 940px;">Profile</a>
            <a class="navOpenlinks aboutUs active " href="/aboutus" style="max-width: 940px;">About Us</a>
            <a class="navOpenlinks works " href="/work" style="max-width: 940px;">Works</a>
            <a class="navOpenlinks Craze" href="#" style="max-width: 940px;">Craze's</a>
            <a class="navOpenlinks Jonty" href="https://jontylu.github.io/jonty_blog/" style="max-width: 940px;">Jonty's</a>
            <a class="navOpenlinks wsp" href="#" style="max-width: 940px;">Jarden's </a>
        </nav>
    </div>
</div>

<div class="container">
    <div class="eachResume">
        <a class="Craze"  href="/aboutus/crazePage">
            <!--            <img src="/public/homePage/image/book.svg"  alt=""/>-->
            <h2>Craze<br>高仕腾</h2>
        </a>
        <a class="Jonty"  href="/aboutus/JontyPage">
            <!--            <img src="/public/homePage/image/pen.svg"  alt=""/>-->
            <h2>Jonty<br>卢锦涛</h2>
        </a>
        <a class="Shupu" href="/aboutus/JardenPage">
            <!--            <img src="/public/homePage/image/camera.svg"  alt=""/>-->
            <h2>Jarden<br>王淑璞</h2>
        </a>
    </div>
    <div class="resumeDiv">
        <div class="myName">
            <h1>卢锦涛</h1>
            <h4>
                男 | 21 | 广州市 | 本科
                <br>
                15919171511 | jtl020@outlook.com
                <br>
                意向职位：前端工程师
            </h4>
        </div>
        <div class="aboutMe">
            <span>奖项：美国大学生建模大赛H奖（国内二等奖）</span>
        </div>
        <div class="resumeContent">
            <div class="education">
                <span>教育经历</span>
                <span>中山大学数据与计算机科学学院（软件工程）</span>
                <span>2014-2018</span>
            </div>
            <div class="skill">
                <span>技能</span>
                <span>
                    <span>专业技能
                        <p>HTML/CSS JavaScript jQuery MySQL</p>
                    </span>
                    <span>其他技能
                        <p>Adobe(PS、AE、LR等)、Office(PPT、Pub、Visio等)、LaTeX、Prezi</p>
                    </span>
                </span>
            </div>
            <div class="projectExp" style="border-bottom: none;" >
                <span>项目经历</span>
                <span>
                    <span>伴旅APP <a href="#" style="font-size:0.2rem ; color: gray; display: block">Github托管地址</a>
                        <p>基于Java语言，AndroidStudio平台上开发的一款移动端APP。本人负责了大部分代码实现和UI设计，安排组内分工内容。实现了天气查询，定位，Material Design风格的底部导航了以及第三方数据库连接功能等</p>
                    </span>
                </span>
                <span>2016.10-2017.1</span>
            </div>
            <div class="projectExp" style="border-bottom: none;">
                <span></span>
                <span>
                    <span>个人网站  <a href="#" style="font-size:0.2rem ; color: gray; display: block">网页地址</a>
                        <p>基于<strong>Bootstrap + Node.js + Express + MySQl</strong>开发的动态网站。 具有创建分类，上传md文件并解析和显示md等基本功能，其他功能正在完善</p>
                    </span>
                </span>
                <span>2017.3.25-至今</span>
            </div>

            <div class="projectExp">
                <span></span>
                <span>
                    <span>个人博客  <a href="#" style="font-size:0.2rem ; color: gray; display: block">网页地址</a>
                        <p>基于<strong>Hexo + Node.js</strong>搭建的静态网站</p>
                    </span>
                </span>
                <span>2017.3</span>
            </div>
            <div class="campusExp" style="border-bottom: none;">
                <span>校园经历</span>
                <span>
                    <span>Maxcell 橙名夜晚会(晚会总监) | 广东省珠海市
                        <p>统筹整个晚会活动，修改晚会策划，联系社团部门，审核节目，控制预算，把控晚会流程，调配人员等。</p>
                    </span>
                </span>
                <span>2015.11-2015.12</span>
            </div>
            <div class="campusExp">
                <span></span>
                <span>
                    <span>萤火虫支教（任课老师）| 广东省茂名市
                        <p>前往山区小学进行为期两个星期的支教</p>
                    </span>
                </span>
                <span>2015.07-2015.07</span>
            </div>
            <div class="workShow">
                <span>作品展示</span>

            </div>
        </div>
    </div>
</div>
<script src="/public/aboutUs/js/navOpenMenu.js"></script>
</body>
</html>